{% extends 'admin/base.html.twig' %}

{% block main %}
    
    <h1>Mon super Blog - ZONE ADMIN</h2>

    <h2>Les derniers articles : </h2>

    {% for article in lastArticles %}
        <article class="article">
            <h3>{{ article.title }}</h3>
            <a href="{{ path('admin_article_update', {'id': article.id}) }}">Modifier l'article</a>
        </article>
    {% endfor %}
    <a href="{{ path('admin_article_list') }}">Voir tous les articles</a>

    <h2>Les dernieres catégories : </h2>

    {% for category in lastCategories %}
        <article class="article">
            <h3>{{ category.title }}</h3>
            <a href="{{ path('category_show', {'id': category.id}) }}">Voir plus</a>
        </article>
    {% endfor %}

{% endblock main %}